.cardview {
  width: 1040px;
  height: 580px;
  margin-top: 25px;
  margin-left: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.323681);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.323681);
  border-radius: 6px;
}
.cardview__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 30px;
}
.cardview__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cardview__body__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cardview__authority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 46px;
}
.cardview__authority * {
  padding-bottom: 6px;
}
.cardview__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cardview__footer__cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  margin-right: 10px;
  outline: none;
  width: 141px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  border: #FFFFFF;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}
.cardview__footer__save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 40px;
  padding: 8px 20px 8px 20px;
  margin-left: 8px;
  background: rgb(0, 186, 181);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: 0px;
  border-radius: 6px;
}

.check-bt {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: none;
  background: inherit;
}