.right {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.component {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
    margin-bottom: 12px;

    &:span {
        margin-bottom: 5px;
    }
}

.field{
    border: 2px solid #E0E0E0;
    border-radius: 6px;
    position: relative;

    &__text {
        box-sizing: border-box;
        width: 300px;
        height: 32px;
        padding: 6px 12px 9px;
        background: #FAFBFC;
        border: #ffffff;
        outline: none;
    }

    &__bt {
        border: none;
        outline: none;
        background: inherit;
        position: absolute;
        right: 0;
        top: 18.13%;
        bottom: 18.13%;
    }
}

.text-field {
    box-sizing: border-box;
    width: 300px;
    height: 32px;
    padding: 6px 12px 9px;
    background: #FAFBFC;
    border: #ffffff;
    outline: none;
}

.visible-bt {
    border: none;
    outline: none;
    background: inherit;
    position: absolute;
    right: 0;
    top: 18.13%;
    bottom: 18.13%;
}


